<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/about.css">
    <title>Document</title>
</head>
<body>
    <h1>Meet the Show main characters</h1>
    <style>
        div {
          text-align:center;
        }
      </style>
      
      <div>
        <img src="/images/bryan-cranston.jpg"class="bryan-image" alt="bryan-cranston">
        <p>Bryan Cranston</p>
        <img src="/images/aron-paul.webp" class="aaron-image" alt="aaron-paul">
        <p>Aaron Paul</p>
      </div>
      <div class="link-works-page">

          <a href="/works">won awards</a>
      </div>

</body>
</html>