<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/about.css">
    <title>Document</title>
</head>
<body>
    <h1>Sinopse</h1>
    <style>
        div {
          text-align:center;
        }
      </style>
      <div>
        <img src="/images/Breaking-Bad-Cast.webp" class="cast-image" alt="castImage">
        <p>A chemistry teacher diagnosed with inoperable lung cancer turns to 
        <p>manufacturing and selling methamphetamine with a former student in order</p> 
        <p>to secure his family's future.</p>
        <br>
        <br>
        <h2>Meet the main characters</h2>
        <img src="/images/bryan-cranston.jpg"class="bryan-image" alt="bryan-cranston">
        <p>Bryan Cranston as: Walter White</p>
        <img src="/images/aron-paul.webp" class="aaron-image" alt="aaron-paul">
        <p>Aaron Paul as Jessie: Pinkman</p>
      </div>
      <div class="link-works-page">

          <a href="/works">won awards</a>
      </div>

</body>
</html>