<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/works.css">
    <title>Document</title>
</head>
<body>
    <h1>Golden Globe Winners</h1>
    <style>
        div {
          text-align:center;
        }
      </style>
      
      <div>
        <img src="/images/breaking_bad_emmys.jpg"class="emmys-image" alt="emmy-image">
        <p>Breaking Bad has been nominated for 248 and has won a total of 92 industry awards since premiering in 2008; it entered the Guinness World Records in 2014 as the most critically acclaimed show of all time. The series has been nominated for numerous accolades, winning five American Film Institute awards for Television Program of the Year.</p>



      </div>
      <div class="link-return-page">

          <a href="/home">home page</a>
      </div>

</body>
</html>