body{
    background-color: darkgreen;
}

h1{
    color: white;
    text-align:center;
}
h2{
    color: white;
}

.link-works-page{
    text-align:center;
}

.link-works-page a{
    color:white;
}

.cast-image{
    width:30vw;
}

.bryan-image{
    width:30vw;
}

.aaron-image{
    width:30vw;
}

p{
    color: white;
}


