body{
    background-color: darkgreen;
}

h1{
    color: white;
    text-align: center;
}

.link-return-page a{
    color: white;
}

.link-return-page a{
    text-align:start;
}

.emmys-image{
width: 50vw;
}

p{
    color: white;
}

